body {
  padding: 200px 100px;
  background-color: #0a213d;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

/* ============CAROUSEL========== */
.carousel {
  position: relative;
  padding: 10px 40px;
}

.carousel > .box {
  overflow: hidden;
  width: 1215px;
}

.carousel > .box > ul {
  padding: 0;
  margin: 0;
  width: 9999px;
  height: 240px;
  transition: margin-left 1000ms;
}
.carousel > .box > ul > li {
  display: inline-block;
  padding: 0;
  margin: 0px;
}

.carousel img {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

/* ==============BUTTON=================== */

.button > ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.button > ul > li {
  color: #495c75;
  margin: 3px;
}
